<div class="container row">
  <!--Carousel Wrapper-->
  <div id="image-carousel" class="col-sm-8 carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <% @house.house_images.each_with_index do |image, n|%>
        <li data-target="#image-carousel" data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
      <% end %>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          <%= image_tag(@house.house_images.first.variant(resize: "1280x600"), class: "image-fluid img-thumbnail") %>
      </div>      
      <% @house.house_images.drop(1).each do |image|%>
        <div class="carousel-item">
          <%= image_tag(image.variant(resize: "1280x600"), class: "image-fluid img-thumbnail") %>
        </div>
      <% end %>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#image-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#image-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--Carousel Wrapper-->  
  <div class="container col-sm-4">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <p class="h3">$ <%= @house.price %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= @house.owner %></li>
          <li class="list-group-item"><%= @house.address %></li>
          <li class="list-group-item"><%= @house.rooms %> Rooms </li>
          <li class="list-group-item"><%= @house.sqmt %> Square Meters</li> 
          <li class="list-group-item"><%= @house.floors %> Floors</li> 
          <li class="list-group-item">Air Conditioning: <%= @house.air_cond %></li> 


        </ul>
      </div>
    </div>
  </div>  
</div>